# Vugraph MVP — Local Development

# Postgres
POSTGRES_USER=CHANGEME
POSTGRES_PASSWORD=CHANGEME
POSTGRES_DB=CHANGEME

#
CENTRIFUGO_API_URL=http://centrifugo:8000/api

# Connect proxy
CENTRIFUGO_CLIENT_PROXY_CONNECT_ENDPOINT=http://backend:3000/centrifugo/connect

# Subscribe proxy
CENTRIFUGO_CHANNEL_PROXY_SUBSCRIBE_ENDPOINT=http://backend:3000/centrifugo/subscribe

# RPC proxy
CENTRIFUGO_RPC_PROXY_ENDPOINT=http://backend:3000/centrifugo/rpc

# Redis engine
CENTRIFUGO_ENGINE_REDIS_ADDRESS=redis://redis:6379

# Log level (since top-level log_level was wrong)
CENTRIFUGO_LOG_LEVEL=debug

# Centrifugo API key (used by backend to call Centrifugo API)
CENTRIFUGO_HTTP_API_KEY="CHANGEME"

# Centrifugo client token HMAC secret key (used by backend to generate client tokens)
CENTRIFUGO_CLIENT_TOKEN_HMAC_SECRET_KEY="CHANGEME"

# Centrifugo Admin UI
CENTRIFUGO_ADMIN_PASSWORD=CHANGEME
CENTRIFUGO_ADMIN_SECRET=CHANGEME
